.list-header{
    background: #f7f7f7;
    display:flex;
    justify-content: space-between;
    border: 1px solid darken(#f7f7f7,9%);
    color:#666;
    padding:$s-size $m-size;

}

.list-body{
    margin-bottom: $m-size;
    @media(min-width: $desktop-breakpoint){
        margin-bottom: $l-size;
    }

}

.item-list{
    border: 1px solid darken(#f7f7f7,9%);
    border-top: none;
    color: #666;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration:none;
    transition: background .3s ease;
    &:hover{
        background: #f7f7f7;
    }

    @media(min-width: $desktop-breakpoint){
        align-items: center;
        flex-direction:row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__message{
    align-items: center;
    justify-content: center;
    color: #666;
    padding: $m-size;
    &:hover{
        background: none;
    }
}

.list-item__title{
    margin-top:0rem;
    word-break: break-all;
}

.list-item__sub-title{
color: #666;
font-size: 1.4rem;
}
.list-item__date{
    margin: $s-size 0 0 0;
    @media(min-width: $desktop-breakpoint){
        margin:0;
        padding: $s-size
    }
}